name: Daily Python Task
on:
  schedule:
    - cron: '0 16 * * *'  
  workflow_dispatch:  

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          pip install  requests
      - name: Run script
        run: python main.py
